* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: light-dark(#efefef, #2e2e2e);
    --secondary-color: light-dark(#000000, #A79277);
    --beige: #A79277;
    --white-black: light-dark(#ffffff, #1a1a1a);
    --black-white: light-dark(#1a1a1a, #ffffff);
    --button-dgray-lgray: light-dark(#1a1a1a, #6c6c6c);
    --background: light-dark(#bbbab7, #1a1a1a);
    color-scheme: light dark;
}

html {
    background-color: var(--background);
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: all 0.5s ease;
}

body {
    background-color: var(--primary-color);
    height: 80%;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-light-switch {
    height: 4.5rem;
    width: 4.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 50px;
}

.dark-light-switch:hover {
    background-color: var(--primary-color);
}

.icon {
    fill: var(--black-white);
    height: 65%;
    width: 65%;
}

.content-wrapper {
    text-align: center;
}

.turn {
    font-size: 2rem;
    color: var(--black-white);
}

.board {
    margin: 22px;
    gap: 2px;
    display: grid;
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: repeat(3, 60px);
    background-color: var(--secondary-color);
}

.cell {
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 2.0rem;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 16px;
    margin: auto;
    padding: 60px;
    background-color: var(--primary-color);
    color: var(--black-white);
    border: 2px solid var(--secondary-color);
}


hr {
    border: 1px solid var(--secondary-color);
    opacity: 0.7;
    border-radius: 2px;
    width: 70%;
}

.name-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.name-input-wrapper input {
    padding: 12px;
    font-size: 0.9rem;
    background-color: white;
    color: black;
    border-radius: 6px;
    border: none;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 12px;
}

.start-button,
.new-game {
    cursor: pointer;
    margin-top: 16px;
    font-size: 1.1rem;
    padding: 12px 20px;
    border-radius: 6px;
    border: 2px solid transparent;
    color: var(--white-black);
    background-color: var(--beige);
}

.start-button:hover,
.new-game:hover {
    border: 2px solid var(--black-white);
}

::backdrop {
    background-color: black;
    opacity: 0.5;
}

:root.dark {
    color-scheme: dark;
}

:root.light {
    color-scheme: light;
}